{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">

            <div class="d-flex flex-column  align-items-center mb-3">
                <div class="card h-100 col-6"  style="min-height: 150px;">


                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between">

                        </div>
                        <p class="card-text">{{ post.content }}</p>


                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <small class="text-muted mt-3 d-flex flex-column">


                            <div class="mb-2">


                            </div>



                        </small>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="{{ path("app_edit_post", {id: post.id}) }}" class="btn btn-warning mt-3"><i class="bi bi-pencil"></i></a>
                            <a href="{{ path("app_delete_post", {id: post.id}) }}" class="btn btn-danger mt-3"><i class="bi bi-trash3"></i></a>
                            <a href="{{ path('post_image', {id:post.id}) }}" class="btn btn-success mt-3"><i class="bi bi-image"></i></a>

                        </div>
                    </div>
                </div>

            </div>



        {{ form_start(form, {attr: {action:path("app_comment_create", {id:post.id})}}) }}

        <div class="d-flex mb-5 col-6 flex-column d-flex align-items-center justify-content-center">
            {{ form_widget(form.content, {'attr': {'class': 'form-control flex-grow-1 ', 'rows': 2, 'placeholder': 'Ajouter un commentaire...' }}) }}
            <button type="submit" class="btn btn-success ml-2">Commenter</button>
        </div>

        {{ form_end(form) }}
    </div>

    <div class="col-md-6">
        <h3 class="mt-4">Commentaires :</h3>

        {% for comment in post.comments %}
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">


                    </div>
                    <div class="text-muted">{{ comment.createdAt|date("d/m/Y H:i") }}</div>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-8">
                            <p class="card-text">{{ comment.content }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">


                        <div class="btn-group" role="group">
                            <a href="{{ path("edit_comment",{id:comment.id}) }}" class="btn btn-warning"><i class="bi bi-pencil"></i></a>
                            <a href="{{ path("delete_comment",{id:comment.id}) }}" class="btn btn-danger"><i class="bi bi-trash3"></i></a>
                            <a href="{{ path("add_comment_image", {id: comment.id}) }}" class="btn btn-success"><i class="bi bi-image"></i></a>
                            <button class="btn btn-primary" data-comment-id="{{ comment.id }}" data-bs-toggle="collapse" data-bs-target="#replyForm-{{comment.id}}">Reply</button>

                        </div>

                </div>
                {% for replyComment in comment.replyComments %}
                    <div>{{ replyComment.content }}</div>

                {% endfor %}


            </div>

        {{ form_start(replyForms['replyForm_' ~ comment.id], {'attr':{'id': 'replyForm-'~ comment.id,'class': 'comment-form collapse', 'action': path("app_reply_comment", {'id': comment.id})}}) }}
        <div class="form-group">
            {{ form_widget(replyForms['replyForm_' ~ comment.id].content, {'attr': {'class': 'form-control', 'placeholder': 'Add a reply'}}) }}
            <button type="submit" class="btn btn-primary">Reply</button>
        </div>
        {{ form_end(replyForms['replyForm_' ~ comment.id]) }}
        {% endfor %}


    </div>




{% endblock %}