{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path("app_post") }}" class="btn btn-primary mt-1">
        <i class="bi bi-arrow-left"></i>
    </a>

    <div class="row">


        <div class="d-flex flex-column justify-content-center align-items-center mb-3">
            <div class="card h-100 col-6 rounded-card bg-border" style="min-height: 150px;">

                    {% include 'image/image_or_not_image.html.twig' with {object:post} %}

                <div class="card-body">
                    <h5 class="card-text d-flex justify-content-center">{{ post.content }}</h5>


                    {% if post.retweet %}

                        <div class="card rounded-card bg-border m-5" style="min-height: 150px;">

                            {% include 'image/image_or_not_image.html.twig' with {object:post.retweet} %}

                            <div class="card-body">
                                <h5 class="card-text d-flex justify-content-center">{{ post.retweet.content }}</h5>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-insta">
                                <small class="text-muted mt-3 d-flex flex-column">
                                    <div class="mb-2 text-white">
                                        {% if post.retweet.author.image is not empty %}
                                            {% for image in post.retweet.author.image %}
                                                <img class="img-fluid rounded-circle " style=" object-fit: cover;" src="{{ vich_uploader_asset(image)|imagine_filter('petite_vignette') }}" alt="">
                                            {% endfor %}
                                        {% else %}
                                            <img class="img-fluid mx-1  rounded-3" style="max-width: 150px; max-height: 150px;" src="{{ asset("images/no_avatar.png")|imagine_filter('petite_vignette') }}" alt="">
                                        {% endif%}
                                        {{ post.retweet.author.username }}
                                    </div>
                                    <div class="text-white">{{ post.retweet.createdAt|date("d/m/Y H:i") }}</div>
                                </small>
                            </div>

                        </div>
                    {% endif %}
                    <div class="d-flex justify-content-end">
                        {% include 'like/button.html.twig' with { routeName:"app_like", object:post } %}
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-insta">
                    <small class="text-muted mt-3 d-flex flex-column">
                        <div class="mb-2 text-white">
                            {% if post.author.image is not empty %}
                                {% for image in post.author.image %}
                                    <img class="img-fluid rounded-circle " style=" object-fit: cover;" src="{{ vich_uploader_asset(image)|imagine_filter('petite_vignette') }}" alt="">
                                {% endfor %}
                            {% else %}
                                <img class="img-fluid mx-1  rounded-3" style="max-width: 150px; max-height: 150px;" src="{{ asset("images/no_avatar.png")|imagine_filter('petite_vignette') }}" alt="">
                            {% endif%}
                            <a class="text-light text-decoration-none" href="{{  path('app_profil', {'id': post.author.id}) }}">
                                {{ post.author.username }}
                            </a>
                        </div>
                        <div class="text-white">{{ post.createdAt|date("d/m/Y H:i") }}</div>
                    </small>
                    <div class="d-flex justify-content-center align-items-center">
                        {% if app.user == post.author %}
                        <a href="{{ path("app_edit_post", {id: post.id}) }}" class="btn btn-light mt-3"><i class="bi bi-pencil"></i></a>
                        <a href="{{ path("app_delete_post", {id: post.id}) }}" class="btn btn-light mt-3"><i class="bi bi-trash3"></i></a>
                        <a href="{{ path('post_image', {id:post.id}) }}" class="btn btn-light mt-3"><i class="bi bi-image"></i></a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

        {% if app.user %}
        <div class="container d-flex flex-column col-6 justify-content-center  mb-3">
            {{ form_start(form, {attr: {action:path("app_comment_create", {id:post.id})}}) }}


            {{ form_widget(form.content, {'attr': {'class': 'form-control flex-grow-1 ', 'rows': 2, 'placeholder': 'Ajouter un commentaire...' }}) }}
            <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success ml-2">Commenter</button>
            </div>
            {{ form_end(form) }}
        </div>
        {% endif %}

            {% if post.comments is not empty %}
            <h3 class="mt-4 d-flex flex-column justify-content-center align-items-center mb-3">Commentaires :</h3>
            {% endif %}
            <div class="row">
                <div class="container d-flex flex-column justify-content-center col-6 mb-3">

                {% for comment in post.comments|reverse %}
                    <div class="mb-4">
                        <div class="card">
                            {% for image in comment.image %}
                                <div class="d-flex justify-content-center">
                                    <img class="img-fluid rounded-3" style="height: 150px; object-fit: cover;" src="{{ vich_uploader_asset(image)|imagine_filter('vignette_comment') }}" alt="">
                                </div>
                            {% endfor %}

                            <div class="card-body d-flex  justify-content-center">
                                        <p class="card-text">{{ comment.content }}</p>
                            </div>
                            <div class="card-footer d-flex justify-content-between align-items-center bg-insta">
                                <div>
                                    <div class="d-flex">
                                        {% if comment.author.image is not empty %}
                                            {% for image in comment.author.image %}
                                                <img class="img-fluid rounded-circle " style=" object-fit: cover;" src="{{ vich_uploader_asset(image)|imagine_filter('petite_vignette') }}" alt="">
                                            {% endfor %}
                                        {% else %}
                                            <img class="img-fluid mx-1  rounded-3" style="max-width: 150px; max-height: 150px;" src="{{ asset("images/no_avatar.png")|imagine_filter('petite_vignette') }}" alt="">
                                        {% endif%}
                                        <a class="text-light text-decoration-none" href="{{  path('app_profil', {'id': comment.author.id}) }}">
                                            {{ comment.author.username }}
                                        </a>


                                    </div>

                                    <div class="text-light">{{ comment.createdAt|date("d/m/Y H:i") }}</div>
                                </div>


                                <div class="btn-group " role="group">
                                    {% if app.user == comment.author %}
                                    <a href="{{ path("edit_comment",{id:comment.id}) }}" class="btn btn-light"><i class="bi bi-pencil"></i></a>
                                    <a href="{{ path("delete_comment",{id:comment.id}) }}" class="btn  btn-light"><i class="bi bi-trash3"></i></a>
                                    <a href="{{ path("add_comment_image", {id: comment.id}) }}" class="btn  btn-light"><i class="bi bi-image"></i></a>

                                    <button class="btn  btn-light" data-comment-id="{{ comment.id }}" data-bs-toggle="collapse" data-bs-target="#replyForm-{{comment.id}}">Reply</button>


                                    {% endif %}
                                    {% include 'like/button.html.twig' with { routeName:"comment_like", object:comment } %}
                                </div>
                            </div>
                        </div>
                            {% for replyComment in comment.replyComments %}
                                <div class="d-flex justify-content-end">
                            <div class="card mt-2 col-8">

                                <div class="card-body d-flex  justify-content-center">


                                    <p class="card-text">{{ replyComment.content }}</p>


                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center bg-insta">
                                    <a class="text-light text-decoration-none" href="{{  path('app_profil', {'id': replyComment.author.id}) }}">
                                        {{ replyComment.author.username }}
                                    </a>
                                    {% if app.user == comment.author %}

                                    <a href="{{ path("delete_replycomment",{id:replyComment.id}) }}" class="btn  btn-light"><i class="bi bi-trash3"></i></a>

                                    {% endif %}
                                </div>

                            </div>
                                </div>
                            {% endfor %}

                        {{ form_start(replyForms['replyForm_' ~ comment.id], {'attr':{'id': 'replyForm-'~ comment.id,'class': 'comment-form collapse', 'action': path("app_reply_comment", {'id': comment.id})}}) }}
                        <div class="form-group my-3">
                            {{ form_widget(replyForms['replyForm_' ~ comment.id].content, {'attr': {'class': 'form-control', 'placeholder': 'Ajouter une réponse'}}) }}
                            <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Répondre</button>
                            </div>
                        </div>
                        {{ form_end(replyForms['replyForm_' ~ comment.id]) }}
                    </div>

                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('like.js') }}"></script>


{% endblock %}
